@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Raleway|Source+Sans+Pro|Alegreya+Sans|Frank+Ruhl+Libre&display=swap');

:root {
    --clr-dark: hsl(205, 50%, 19%);
    --clr-mid: hsl(205, 89%, 48%);
    --clr-h-light: hsl(227, 100%, 98%);
    --clr-light: hsl(40, 28%, 82%);
    --clr-menu-link: hsl(224, 89%, 38%);
    --clr-sidebar: hsl(205, 50%, 29%);
}

html {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-family: 'Raleway', 'Montserrat', 'Source Sans Pro', 'Noto Sans',
        sans-serif;
    font-size: 16px;
}

body {
    color: var(--clr-light);
}

a {
    text-decoration: none;
    color: var(--clr-h-light);
    background-color: var(--clr-mid);
}

.main {
    margin: 0 1em 2em;
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 60rem;

    &-header {
        background-color: var(--clr-mid);
        padding: 0.2em 0;
        width: 100%;

        &__logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            &__image {
                display: inline-block;
                max-width: 2.5em;
                max-height: 2.5em;
                margin: 0 0.5em;
                padding: 0.2em;
            }
            &__title {
                text-transform: capitalize;
            }
        }
    }

    &__footer {
        position: fixed;
        right: 0;
        bottom: 0;
        background: var(--clr-mid);
        padding: 0.2rem 0.5rem;
        opacity: 0.9;
        font-size: 0.8rem;
        border-radius: 8px 0 0 0;
    }

    &__menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 2rem;
        background: var(--clr-light);
        color: var(--clr-dark);
        border-bottom: 5px solid var(--clr-mid);
        // margin-bottom: 1em;
        &__item {
            &__link {
                text-transform: capitalize;
                background: inherit;
                color: var(--clr-menu-link);
                &:hover {
                    outline: 2px solid red;
                }
                &.active {
                    outline: 2px solid blue;
                }
            }
        }
    }
}

.v-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    background: var(--clr-sidebar);
    &--left {
        flex-basis: 10rem;
        flex-grow: 1;
    }
    &--right {
        flex-basis: 10rem;
        flex-grow: 1;
    }
}

.heading {
    padding: 0 0 1rem;
}

.article {
    padding: 0 0 1rem;
    &-columns {
        margin-top: 0;
        column-width: 20rem;
        // column-fill: auto;
    }
}

.md-post {
    h1 {
        margin-bottom: 0.5em;
        font-weight: 900;
        border-bottom: 3px solid goldenrod;
    }
    a {
        background: inherit;
        margin: 0 0 0 1rem;
        padding: 0;
        &:hover {
            border-bottom: 1px solid var(--clr-h-light);
        }
    }
    li {
        margin-bottom: 0.5em;
    }
}
