@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Raleway|Source+Sans+Pro|Alegreya+Sans|Frank+Ruhl+Libre&display=swap');

:root {
    --clr-dark: hsl(205, 50%, 19%);
    --clr-mid: hsl(205, 90%, 50%);
    --clr-h-light: hsl(227, 100%, 98%);
    --clr-light: hsl(40, 28%, 82%);
    --clr-menu-link: hsl(224, 89%, 38%);
    --clr-sidebar: hsl(205, 50%, 29%);
    --clr-article: hsl(55, 30%, 80%);
    --clr-heading: hsl(55, 30%, 60%);
    --clr-shadow: hsla(0, 0%, 0%, 0.5);
    --clr-nav-active: hsl(205, 50%, 29%);
    --clr-nav-outline: hsl(35, 90%, 80%);
}

html {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-family: 'Noto Sans', 'Source Sans Pro', 'Montserrat', 'Raleway',
        sans-serif;
}

body {
    color: var(--clr-light);
}

a {
    text-decoration: none;
    color: var(--clr-h-light);
    background-color: var(--clr-mid);
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__sidebar {
        background: var(--clr-sidebar);
        padding-top: 0.5em;
        &--left {
            flex-basis: 8rem;
            flex-grow: 1;
        }
        &--right {
            flex-basis: 8rem;
            flex-grow: 1;
        }
    }

    &__content {
        margin: 0;
        padding: 0.5em;
        flex-grow: 2;
        flex-basis: 100%;
        max-width: 80rem;
        border: 2px solid black;
    }

    &__body {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
    }

    &__footer {
        position: fixed;
        right: 0;
        bottom: 0;
        background: var(--clr-mid);
        padding: 0.2rem 0.5rem;
        opacity: 0.9;
        font-size: 0.8rem;
        border-radius: 8px 0 0 0;
    }
}

@mixin link-hover {
    &:hover {
        filter: brightness(1.2);
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
    }
}

.header {
    background-color: var(--clr-mid);
    padding: 0.2em 0;
    width: 100%;

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        margin-left: 0.4em;
        @include link-hover;
    }

    &__logo {
        display: inline-block;
        max-width: 2.5em;
        max-height: 2.5em;
        margin: 0 0.5em;
        padding: 0.2em;
    }

    &__title {
        display: block;
        text-transform: capitalize;
        margin: 0;
        word-break: none;
        width: 15rem;
    }
}

@mixin link-nav {
    display: block;
    position: relative;
    text-transform: capitalize;
    background: var(--clr-light);
    color: var(--clr-menu-link);
    padding: 0 1rem 1px;
    margin-bottom: 2px;
    transition: filter 250ms ease;
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background: var(--clr-mid);
        transition: transform 250ms ease;
        transform: scaleX(0);
        transform-origin: right;
    }
    &:hover {
        transition: filter 500ms ease;
        filter: brightness(0.9);
    }
    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
    &--active {
        position: relative;
        opacity: 1;
        font-weight: 900;
        filter: brightness(0.9);
    }
    &--active::before {
        opacity: 1;
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background: var(--clr-nav-active);
        transition: opacity 250ms ease;
    }
}

@mixin link {
    display: block;
    text-transform: capitalize;
    background: var(--clr-mid);
    color: var(--clr-light);
    border-radius: 50px;
    padding: 0.2em 1em;
    margin-top: 0.5em;
    border-radius: 50px;
    text-align: center;

    &:hover {
        filter: brightness(1.2);
    }
}

.heading {
    margin-bottom: 0.5em;
    background: var(--clr-mid);
    border-radius: 4px;
    padding: 0 0.4em;
    box-shadow: inset 0 0 5px var(--clr-dark);
}

.menu {
    position: sticky;
    //position: fixed;
    top: 4.8em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 2.4em;
    background: var(--clr-light);
    color: var(--clr-dark);
    border-bottom: 5px solid var(--clr-mid);
    z-index: 1;
    transition: 200ms linear;
    transform-origin: top;

    &__item {
        opacity: 1;
        width: 8rem;
        text-align: center;
    }

    &__link {
        @include link-nav;
    }

    &--hide {
        opacity: 0;
        transform: translateX(100%);
    }

    &__toggle {
        display: none;
        cursor: pointer;
        position: fixed;
        margin: 0;
        right: 1em;
        top: 1.2em;
        background: var(--clr-light);
        z-index: 1;
        width: 1.8em;
        height: 1.8em;
        border-radius: 2px;
        padding: 0.2em;
        // box-sizing: content-box;
        border: 1em solid var(--clr-light);

        &:before {
            position: absolute;
            content: '';
            width: 2em;
            height: 1.8em;
            top: -0.7em;
            left: -0.8em;
            background: rgba(0, 0, 0, 0);
            border-top: 4px solid var(--clr-dark);
            border-bottom: 4px solid var(--clr-dark);
        }
        &:after {
            position: absolute;
            content: '';
            width: 2em;
            height: 4px;
            top: 0.05em;
            left: -0.8em;
            background: var(--clr-dark);
        }
        @include link-hover;

        // box-shadow: 0 0 2px 2px white;
    }
}

.article {
    padding: 0 0 1rem;
    &-columns {
        margin-top: 0;

        column-width: 20rem;
        column-count: 2;
        column-rule: 1px dotted var(--clr-light);
        column-gap: 2rem;
        // column-fill: auto;
        p {
            margin-bottom: 1rem;
        }
    }
}

button,
input,
textarea,
a {
    border-radius: 4px;
    margin: 4px 0 1em;
    border: none;
    padding: 4px;
    &:focus {
        box-shadow: 0 0 0px 2px var(--clr-nav-active),
            0 0 0px 4px var(--clr-nav-outline);
    }
    &::-moz-focus-inner {
        border: none;
    }
}

.contact {
    &__group {
        display: flex;
        flex-direction: column;
        padding: 5%;
        border-radius: 5px;
    }
    &__submit {
        text-decoration: none;
        border: none;
        background: none;
    }
}

.post-template {
    &__content {
        margin: 1em 0;
        padding: 1em;
        background: linear-gradient(#8883, #4443, #8883);
        // background-blend-mode: hue;
        border-radius: 4px;
        box-shadow: 2px 4px 8px 5px rgba(0, 0, 0, 0.2);

        h1 {
            margin-bottom: 0.5em;
            font-weight: 900;
            border-bottom: 3px solid goldenrod;
        }

        ul {
            margin-bottom: 1em;
        }

        p {
            margin-bottom: 0.5em;
        }

        li {
            margin-bottom: 0.2em;
        }

        a {
            background: inherit;
            margin: 1rem 0 0 1rem;
            padding: 0;
            border-radius: 0;
            &:hover {
                border-bottom: 2px solid var(--clr-h-light);
            }
        }
    }
    &__link {
        @include link;
    }
}

.blog {
    &__entry {
        margin-bottom: 1em;
        padding: 0.5em;
        box-shadow: 5px 8px 10px 5px var(--clr-shadow);
        border-radius: 8px;
        &__link {
            @include link;
        }
    }
}

.shadow {
    box-shadow: 5px 8px 10px 5px var(--clr-shadow);
}

.show {
    transition: opacity 1ms ease;
    opacity: 1;
}

.hide {
    opacity: 0;
}

.cover-container {
    position: relative;
    width: 80vw;
    left: 50%;
    right: 50%;
    margin-left: -40vw;
    margin-right: -40vw;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

.cover-image {
    object-fit: cover;
    position: relative;
    vertical-align: middle;
    left: 0;
    top: 0;
    height: 20vh;
}

.iframe__video {
    position: relative;
    background: black;
    width: 80vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -40vw;
    margin-right: -40vw;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    min-height: 500px;
}

@media (max-width: 480px) {
    .layout__body {
        flex-direction: column;
    }
    .layout__sidebar {
        display: none;
    }
    .menu {
        position: fixed;
        top: 2em;
        right: 0;
        flex-direction: column;
        height: fit-content;
        width: 10rem;
        border-radius: 4px 0 0 4px;
        font-size: 1.7rem;
        opacity: 0.8;
        &__item {
            padding: 0.4rem;
        }
        &__toggle {
            display: block;
            opacity: 0.8;
        }
    }
}

@media (min-width: 480px) {
    .menu {
        position: sticky;
        top: 0;
        &--hide {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
